@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Thasadith&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');


html {
    
    body {
        
        h1 {
            font-family: "Secular One";
            font-size: 85px;
            width: 100%;
            text-align: center;
            margin-top: 20px;
            color: rgb(115, 10, 141);
            -webkit-text-stroke-width: .5px;
            -webkit-text-stroke-color: black;
        }

        p {
            font-size: 50px;
            text-align: center;
            font-family: "Thasadith"
        }

        div {

            margin: 100px 0;

            ul {

                width: 30%;
                margin: 0 auto;
    
                li {
    
                    font-size: 30px;
                    color: black;
                    
                    a {
                        text-decoration: none;
                        color: black
                    }
    
                    a:hover {
                        color: rgb(115, 10, 141);
                    }
                }
    
            }
    
            .active {
                font-family: "Courier Prime"
    
            }
    
            .finished {
                font-family: "Fredoka One"
            }
        }

        
        
    }

    
}